*{
    margin: 0px;
}

body{
    font-family: 'Roboto';

    font-weight: 400;
    line-height: 24px;
    color: #1D1D1D;

    background-color: white;
}

a, a:hover{
    color: #1D1D1D;
    text-decoration: none;
}

.container-main{
    max-width: 956px;
    margin: 0px auto;
}

header{
    box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
    background-color: white;
    position: sticky;
    top: 0px;
    
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0px;
}

.header-menu{
    display: flex;
    
}

.button{
    padding: 7px 18px;


    font-family: 'Roboto';
    font-weight: 500;
    line-height: 24px;
    font-size: 13px;
    color: #1d1d1d;

    border-radius: 2px;
    border: solid 1px #E0E0E0;
}

input{
    
    width: 100%;
    font-size: 16px;
    color: #626262;

    border: 0px;
    border-bottom: solid 1px #757575;
    padding: 24px 0px 0px 0px;

}

h2{
    font-size: 22px;
    line-height: 34px;
    font-weight: 400;

    margin-top: 56px;
    margin-bottom: 16px;
}

.DD{
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
}

footer{
    background-color: #262626;
}

option{
    background-color: #3B3B3B;
}





