@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

*{
    margin: 0px;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 24px;             /* $$$ */
    color: #1D1D1D;

    background-color: white;
}

a, a:hover{
    color: white;
    text-decoration: none;
}
/* fixed */
.button_up{
    position: fixed;
    bottom: calc(24px - 6px);
    right: 16px;

    z-index: 50;
}

/* header */
header{
    position: sticky;
    top: 0px;

    z-index: 50;

    background-color: white;

    box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
}

.container_main{
    max-width: 956px;
    margin: 0px auto;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
}

.header-menu{
    display: flex;
    align-items: center;
}

.sign_in{
    width: 78px;
    
    font-size: 0.8125rem;

    font-weight: 500;
    color: #1D1D1D;
    text-align: center;

    padding: 7px 0px;
    margin: 0px 16px;

    border-radius: 2px;
    border: solid 1px #E0E0E0;
}

.sign_in:hover{
    color: #1D1D1D;
}

.basket{
    padding: 0px 10px;
}

/* Search */
input{
    width: 100%;

    font-size: 1rem;
    line-height: 1rem;
    color: #626262;

    padding: 24px 4px 5px;
    margin-top: 32px;

    border: 0px;
    border-bottom: solid 1px #757575;

    opacity: 50%;
}

input:focus{
    color: #1D1D1D;
    outline: 0;
}

/* title */
h3{
    font-size: 1.375rem;
    line-height: 2.125rem;
    font-weight: 400;

    margin-top: 56px;
    margin-bottom: 16px;
}
/* content */
.content-box{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 16px;

    margin-bottom: 80px;
}

figure img{
    width: 308px;
    height: 256px;
}

figcaption{
    padding-top: 6px;
    padding-bottom: 20px;
}

.tag{
    font-size: 0.875rem;
    line-height: 21px;            /* $$$ */
    color: #626262;

    padding: 4px 0px;
}

time{
    font-size: 0.8125rem;
    line-height: 21px;            /* $$$ */
}
/* footer */
footer{
    background-color: #262626;

    line-height: 15.23px;   
    color: white;
}

.footer_logo{
    padding-top: 56px;
    padding-bottom: 40px;
}

.footer_info{
    display: flex;
    gap: 16px;

    padding-top: 32px;
    padding-bottom: 25px;
}

.footer_info_box{
    width: 308px;
}

select{
    width: 227px;

    font-family: 'Roboto';
    font-size: 0.8125rem;
    line-height: 15.23px;            /* $$$ */
    color: white;

    padding: 12px 8px 12px 16px;
    
    background-color: #3B3B3B;

    border-radius: 2px;
}

option{
    background-color: #3B3B3B;
}

.contact{
    margin-top: 33px;
}

.hashtag{
    line-height: 18.75px;            /* $$$ */
}

.hashtag span{
    color: #49A144;
}

.social_networks{
    display: flex;
    gap: 10px;

    margin-top: 17px;
}

.footer_text{
    display: block;

    font-size: 0.8125rem;
    line-height: 15.23px;            /* $$$ */
    color: white;

    margin-bottom: 23px;
}

.applications{
    display: flex;
    justify-content: center;
    gap: 40px;

    padding: 40px 0px;
}

.legal_information{
    display: flex;
    gap: 10px;

    padding: 40px 0px;
}

.legal_information_text{
    width: 33%;

    font-size: 0.6875rem;
    line-height: 12.89px;            /* $$$ */
    color: white;
}

@media screen  and (max-width: 956px) { 
    .container_main{
        max-width: 752px;
    }
    
    figure img{
        width: 368px;
    }

    .content-box{
        margin-bottom: 48px;
    }
}

@media screen and (max-width: 767px) { 
    .container_main{
        max-width: 308px;
    }
    
    figure img{
        width: 308px;
    }

    .basket, figure:nth-child(n + 5){
        display: none;
    }

    .contact{
        margin-bottom: 39px;
    }

    .footer_info{
        flex-direction: column;
        gap: 0px;
    }

    .applications{
        gap: 24px;
    }

    .legal_information{
        flex-direction: column;
        gap: 24px;
    }
    
    .legal_information_text{
        width: 100%;
    }
}