*{
    margin: 0px;
}
body{
    font-family: 'Roboto';
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    color: #1D1D1D;

    
    background-color: white;
}

a, a:hover{
    color: #1D1D1D;
    text-decoration: none;
}

.container-main{
    max-width: 962px;
    margin: 0px auto;
}

header{
    box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


input{
    
    width: 100%;
    font-size: 16px;
    color: #626262;

    border: 0px;
    border-bottom: solid 1px #757575;

}

h2{
    font-size: 22px;
    line-height: 34px;
    font-weight: normal;
}

.DD{
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

footer{
    background-color: #262626;
}

option{
    background-color: #3B3B3B;
}





